* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: #454545;
  --Light-red: hsl(0, 100%, 67%);
  --plain-white: hsl(100, 100%, 100%);
  --Border-Gray: hsl(0, 0%, 85%);
  --plain-black: hsl(0, 0%, 0%);
  --hover-brown: hsl(0, 0%, 25%);
  --weight-regural: 400;
  --weight-bold: 500;
  --weight-bolder: 700;
  --font-bigger: 1.8125rem;
  --font-big: 1.4375rem;
  --font-regural: 1.125rem;
  --font-small: 0.875rem;
}
/* replacement for background image to optimize for google light house */
.background {
  background: hsla(259, 72%, 47%, 1);

  background: radial-gradient(
    circle,
    hsla(259, 72%, 47%, 1) 0%,
    hsla(245, 78%, 69%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(259, 72%, 47%, 1) 0%,
    hsla(245, 78%, 69%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(259, 72%, 47%, 1) 0%,
    hsla(245, 78%, 69%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5922D0", endColorstr="#7D73EE", GradientType=1 );
}

/* map maker styling */
.my-div-icon {
  --background-szie: 7vh;
  width: var(--background-szie) !important;
  height: var(--background-szie) !important;
  background-image: url(./Assets/icon-location.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  position: relative;
  font-family: Rubik;
}

header {
  height: 36%;
  background-image: url(./Assets/pattern-bg-desktop.png);
  margin-inline: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.625rem;
  padding-top: 1.75rem;
  z-index: 2;
}

.result-container {
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  height: 64%;
  z-index: 2;
}

.hero-text {
  color: var(--plain-white);
  text-transform: capitalize;
  font-weight: var(--weight-bold);
  font-size: var(--font-bigger);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-text h1{
   color: var(--plain-white);
  text-transform: capitalize;
  font-weight: var(--weight-bold);
  font-size: var(--font-bigger);
}
/* spinner */
#spinner-root {
  position: relative;
  align-self: flex-start;
}
#loading {
  display: inline-block;
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  border-bottom-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
#error-loading {
  display: inline-block;
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-left-color: var(--Light-red);
  border-right-color: var(--Light-red);
  transform: rotate(45deg);
}

.input-button-container {
  height: 3.5rem;
  display: flex;
  z-index: 5;
}
#input-ip {
  padding: 1.1875rem 1.3125rem;
  border-radius: 0.8125rem 0 0 0.8125rem;
  border: none;
  font-size: var(--font-regural);
  min-width: 49ch;
  color: var(--Plain-black);
}
#input-ip:focus {
  outline-offset: -3px;
}

#input-ip::placeholder {
  color: var(--Dark-Gray);
  font-family: inherit;
}
#input-ip.error {
  color: var(--Light-red);
}
#input-ip.error::placeholder {
  color: var(--Light-red);
}

#submit-button {
  display: inline-block;
  width: 3.4375rem;
  height: 100%;
  border: none;
  border-radius: 0 0.8125rem 0.8125rem 0;
  position: relative;
  background-color: black;
}
#submit-button:hover {
  background-color: var(--hover-brown);
}

#submit-button::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: url(./Assets/icon-arrow.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.result-container {
  background-color: var(--plain-white);
  display: flex;
  padding: 1.625rem 2.25rem 2.25rem 2.25rem;
  border-radius: 1rem;
  gap: 2rem;
}
.col + .col {
  border-left: 1px solid var(--Border-Gray);
  padding-left: 1.75rem;
}

.result-title {
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  color: var(--Dark-Gray);
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}
.result-value {
  font-size: var(--font-big);
  font-weight: var(--weight-bolder);
  color: var(--Very-Dark-Gray);
  min-width: 13ch;
}
/* spinner animation */
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* Responsiveness */

/* Mobile Phones */
@media only screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }

  header {
    background-image: url(./Assets/pattern-bg-mobile.png);
    height: 37%;
  }
  #map {
    height: 63%;
  }
  .input-button-container {
    width: 80vw;
  }
  #input-ip {
    min-width: calc(100% - 3.4375rem);
  }

  .result-container {
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  .col + .col {
    border: none;
  }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .result-value {
    min-width: initial;
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 9px;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 800px) {
  html {
    font-size: 10px;
  }
  header {
    background-image: url(./Assets/pattern-bg-desktop.png);
    height: 28%;
    justify-content: center;
  }
  #map {
    height: 72%;
  }

  .result-container {
    max-width: 85%;
  }
}
@media only screen and (min-width: 801px) and (max-width: 950px) {
  /* Styles for tablets */
  html {
    font-size: 11px;
  }

  header {
    background-image: url(./Assets/pattern-bg-desktop.png);
    height: 28%;
    justify-content: center;
  }
  #map {
    height: 72%;
  }

  .result-container {
    max-width: 85%;
  }
}
@media only screen and (min-width: 951px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  header {
    background-image: url(./Assets/pattern-bg-desktop.png);
    height: 28%;
    justify-content: center;
  }
  #map {
    height: 72%;
  }

  .result-container {
    max-width: 85%;
  }
}
/* Desktop - 1280x720 */
@media (min-width: 1025px) and (max-width: 1290px) {
  /* Styles for desktop - 1280x720 */
  html {
    font-size: 12px;
  }
}

/* Desktop - 1366x768 */
@media (min-width: 1281px) and (max-width: 1366px) {
  /* Styles for desktop - 1366x768 */
  html {
    font-size: 12px;
  }
}

/* Desktop - 1920x1080 */
@media (min-width: 1367px) and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}

/* Desktop - 2K */
@media (min-width: 1921px) and (max-width: 2459px) {
  html {
    font-size: 18px;
  }
}

/* Desktop - 4K */
@media (min-width: 2460px) {
  html {
    font-size: 32px;
  }
}
